<% content_for :title do %>Sample Server Status Dashboard Tile<% end %>
<div class="gridster">
	<ul>
		<li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      			<div data-id="server_status" data-view="ServerStatus" data-title="Server Status"></div>
    		</li>
  	</ul>
</div>
